[submodule "trainlink-types"]
	path = trainlink-types
	url = https://github.com/trainlink-org/trainlink-types.git
[submodule "shared-lib"]
	path = shared-lib
	url = https://github.com/trainlink-org/shared-lib.git
[submodule "typescript-server"]
	path = typescript-server
	url = https://github.com/trainlink-org/typescript-server.git
[submodule "trainlink-command"]
	path = trainlink-command
	url = https://github.com/trainlink-org/trainlink-command.git
